* {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
p{
    margin: 0 !important;
    padding: 0 !important; 
}
h1, h2, h3, h4, h5, h6, p { color: #2a2b2a; }
.bg-dark{ background-color: #0d0d0d; }
a { color: white; text-decoration: none; font-size: 15px; }
.font-primary{ color: #db9a14; }
.btn-primary{ 
    background-color: #dc9b14 !important; 
    color: white !important;
    border: 2px solid transparent;
    border-radius: 4px;
    width: fit-content !important;
    cursor: pointer;
}
.position-absolute{ position: absolute; }
.position-relative{ position: relative; }
.fs-56px{
    font-size: 56px;
    line-height: 68px;
}
.w-100vw{ width: 100vw;}
.underlineText::after{
    content: "";
    display: block;
    margin-top: 12px;
    width: 32px;
    border-top: 2px solid #293947;
}
.ctaCard{
    background: #f7f9fa;
    padding: 15px 8px 0 14px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0,0,0,.14);
    border-left: 6px solid #293947;
    cursor: pointer;
    height: 80px;
    width: 220px;
    position: relative;

    p{
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: bold;
    }

    span {
        position: absolute;
        right: 18px;
        bottom: 6px;
        color: white;
    }

    &:hover{
        background: #293947;
        p {
            color: white !important;
        }
    }
}